<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Use at:</b>
  <%= @item.use_at %>
</p>

<p>
  <b>Total:</b>
  <%= @item.total %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Copy', item_copy_path(@item) %> |
<%= link_to 'Back', items_path %>
